.board {
    position: relative;
    width: 521px;
    height: 577px;
    background: url(static/images/board.jpg);
}

.piece {
    position: absolute;
    width: 57px;
    height: 57px;
    z-index: 0;
}

.availableMove {
    border: 1px red solid;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
